In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
from folium.features import GeoJson, GeoJsonTooltip, GeoJsonPopup
from folium.plugins import TimeSliderChoropleth
import seaborn as sns
import os
%matplotlib inline

C:\Users\kisha\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
%%time
os.chdir(r"..\Datasets Italia\Telecommunications - SMS, Call, Internet - MI")
cdf = pd.DataFrame()
for k,v in enumerate(os.listdir()):
    if 'sms' in v:
        df = pd.read_csv(v,delimiter='\t', header=None, names=['cellId','timeInterval','countryCode','SMSin','SMSout','callIn','callOut', 'internet'])
        df['timeInterval'] = pd.to_datetime(df['timeInterval'],unit='ms').dt.tz_localize('UTC').dt.tz_convert('CET')
        df2 = df.loc[:,['timeInterval','SMSin','SMSout','callIn','callOut','internet']].fillna(0)
        df2 = df2.set_index('timeInterval')
        df3 = df2.resample('10T').sum()
        cdf = cdf.append(df3)
        print(k, v)

In [2]:
cdf.to_csv('10Mins-Consolidated.csv')

NameError: name 'cdf' is not defined

In [2]:
%%time
os.chdir(r"C:\Users\kisha\Documents\Springboard Data Science\Capstone Project 1\Datasets Italia\Telecommunications - SMS, Call, Internet - MI")
cdf = pd.DataFrame()
for k,v in enumerate(os.listdir()):
    if 'sms' in v:
        df = pd.read_csv(v,delimiter='\t', header=None, names=['cellId','timeInterval','countryCode','SMSin','SMSout','callIn','callOut', 'internet'])
#         df['timeInterval'] = pd.to_datetime(df['timeInterval'],unit='ms').dt.tz_localize('UTC').dt.tz_convert('CET')
        df2 = df.loc[:,['cellId','timeInterval','SMSin','SMSout','callIn','callOut','internet']].fillna(0)
        df2['SMS'] = df2['SMSin'] + df2['SMSout']
        df2['call'] = df2['callIn'] + df2['callOut']
        groupdf = df2.groupby(['timeInterval','cellId'])['SMSin','SMSout','callIn','callOut','internet','SMS','call'].sum()
        cdf = cdf.append(groupdf)
        print(k, v)

5 sms-call-internet-mi-2013-11-01.txt
6 sms-call-internet-mi-2013-11-02.txt
7 sms-call-internet-mi-2013-11-03.txt
8 sms-call-internet-mi-2013-11-04.txt
9 sms-call-internet-mi-2013-11-05.txt
10 sms-call-internet-mi-2013-11-06.txt
11 sms-call-internet-mi-2013-11-07.txt
12 sms-call-internet-mi-2013-11-08.txt
13 sms-call-internet-mi-2013-11-09.txt
14 sms-call-internet-mi-2013-11-10.txt
15 sms-call-internet-mi-2013-11-11.txt
16 sms-call-internet-mi-2013-11-12.txt
17 sms-call-internet-mi-2013-11-13.txt
18 sms-call-internet-mi-2013-11-14.txt
19 sms-call-internet-mi-2013-11-15.txt
20 sms-call-internet-mi-2013-11-16.txt
21 sms-call-internet-mi-2013-11-17.txt
22 sms-call-internet-mi-2013-11-18.txt
23 sms-call-internet-mi-2013-11-19.txt
24 sms-call-internet-mi-2013-11-20.txt
25 sms-call-internet-mi-2013-11-21.txt
26 sms-call-internet-mi-2013-11-22.txt
27 sms-call-internet-mi-2013-11-23.txt
28 sms-call-internet-mi-2013-11-24.txt
29 sms-call-internet-mi-2013-11-25.txt
30 sms-call-internet-mi-2013-11-26.txt
31 sms-call-internet-mi-2013-11-27.txt
32 sms-call-internet-mi-2013-11-28.txt
33 sms-call-internet-mi-2013-11-29.txt
34 sms-call-internet-mi-2013-11-30.txt
35 sms-call-internet-mi-2013-12-01.txt
36 sms-call-internet-mi-2013-12-02.txt
37 sms-call-internet-mi-2013-12-03.txt
38 sms-call-internet-mi-2013-12-04.txt
39 sms-call-internet-mi-2013-12-05.txt
40 sms-call-internet-mi-2013-12-06.txt
41 sms-call-internet-mi-2013-12-07.txt
42 sms-call-internet-mi-2013-12-08.txt
43 sms-call-internet-mi-2013-12-09.txt
44 sms-call-internet-mi-2013-12-10.txt
45 sms-call-internet-mi-2013-12-11.txt
46 sms-call-internet-mi-2013-12-12.txt
47 sms-call-internet-mi-2013-12-13.txt
48 sms-call-internet-mi-2013-12-14.txt
49 sms-call-internet-mi-2013-12-15.txt
50 sms-call-internet-mi-2013-12-16.txt
51 sms-call-internet-mi-2013-12-17.txt
52 sms-call-internet-mi-2013-12-18.txt
53 sms-call-internet-mi-2013-12-19.txt
54 sms-call-internet-mi-2013-12-20.txt
55 sms-call-internet-mi-2013-12-21.txt
56 sms-call-internet-mi-2013-12-22.txt
57 sms-call-internet-mi-2013-12-23.txt
58 sms-call-internet-mi-2013-12-24.txt
59 sms-call-internet-mi-2013-12-25.txt
60 sms-call-internet-mi-2013-12-26.txt
61 sms-call-internet-mi-2013-12-27.txt
62 sms-call-internet-mi-2013-12-28.txt
63 sms-call-internet-mi-2013-12-29.txt
Wall time: 19min 26s

In [82]:
cdf.to_csv('10Mins-Consolidated-with-cellid.txt',sep='\t')

In [3]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 84929138 entries, (1383260400000, 1) to (1388357400000, 10000)
Data columns (total 7 columns):
SMSin       float64
SMSout      float64
callIn      float64
callOut     float64
internet    float64
SMS         float64
call        float64
dtypes: float64(7)
memory usage: 4.7 GB

In [92]:
cdf1 = cdf.copy()

In [94]:
cdf1 = cdf1.reset_index()

In [95]:
cdf1['timeIntervalts'] = pd.to_datetime(cd1f['timeInterval'],unit='ms').dt.tz_localize('UTC').dt.tz_convert('CET')

In [96]:
cdf1 = cdf1.set_index(['cellId','timeIntervalts'])

In [97]:
cdf2 = cdf1.groupby([pd.Grouper(level='cellId'),pd.Grouper(level='timeIntervalts',freq='H')]).sum()

In [99]:
cdf2.to_csv('Hourly-Consolidated-with-cellid.txt',sep='\t')

In [109]:
cdf2

                                    timeInterval      SMSin     SMSout  \
cellId timeIntervalts
1      2013-12-29 00:00:00+01:00  27667681800000  11.614903   6.186866
       2013-12-29 01:00:00+01:00  15217584000000   6.222223   2.949818
       2013-12-29 02:00:00+01:00  12450302400000   4.761782   3.334068
       2013-12-29 03:00:00+01:00  13834195200000   4.755038   3.279420
       2013-12-29 04:00:00+01:00  15217366200000   5.370352   3.094265
...                                          ...        ...        ...
10000  2013-12-29 19:00:00+01:00  30433977000000  27.862764  19.290816
       2013-12-29 20:00:00+01:00  20750777400000  15.187433  10.354212
       2013-12-29 21:00:00+01:00  20750215800000  24.075500  16.685875
       2013-12-29 22:00:00+01:00  24901110600000  21.115529  17.211963
       2013-12-29 23:00:00+01:00  29051204400000  23.994500  18.118360

                                     callIn    callOut    internet        SMS  \
cellId timeIntervalts
1      2013-12-29 00:00:00+01:00   5.204528   5.640638  205.769225  17.801769
       2013-12-29 01:00:00+01:00   3.222296   3.576615  108.364250   9.172042
       2013-12-29 02:00:00+01:00   2.709599   3.281181   91.990481   8.095851
       2013-12-29 03:00:00+01:00   3.112042   4.580512  113.159767   8.034458
       2013-12-29 04:00:00+01:00   2.262312   2.347458  109.195008   8.464617
...                                     ...        ...         ...        ...
10000  2013-12-29 19:00:00+01:00  21.308455  25.513559  494.887836  47.153580
       2013-12-29 20:00:00+01:00  11.834990  13.847210  297.898329  25.541645
       2013-12-29 21:00:00+01:00  14.957908  15.870766  392.917872  40.761375
       2013-12-29 22:00:00+01:00  17.224146  17.066921  368.219706  38.327491
       2013-12-29 23:00:00+01:00  13.848778  16.035157  392.155027  42.112860

                                       call
cellId timeIntervalts
1      2013-12-29 00:00:00+01:00  10.845166
       2013-12-29 01:00:00+01:00   6.798911
       2013-12-29 02:00:00+01:00   5.990780
       2013-12-29 03:00:00+01:00   7.692554
       2013-12-29 04:00:00+01:00   4.609771
...                                     ...
10000  2013-12-29 19:00:00+01:00  46.822014
       2013-12-29 20:00:00+01:00  25.682200
       2013-12-29 21:00:00+01:00  30.828674
       2013-12-29 22:00:00+01:00  34.291067
       2013-12-29 23:00:00+01:00  29.883935

[239998 rows x 8 columns]

In [4]:
cdfD = cdf.copy()

In [5]:
cdfD = cdfD.reset_index()

In [6]:
cdfD['timeIntervalts'] = pd.to_datetime(cdfD['timeInterval'],unit='ms').dt.tz_localize('UTC').dt.tz_convert('CET')

In [7]:
cdfD = cdfD.set_index(['cellId','timeIntervalts'])

In [8]:
cdfD2 = cdfD.groupby([pd.Grouper(level='cellId'),pd.Grouper(level='timeIntervalts',freq='D')]).sum()

In [9]:
cdfD2.to_csv('Daily-Consolidated-with-cellid.txt',sep='\t')

In [2]:
hourlydf = pd.read_csv('..\Datasets Italia\Telecommunications - SMS, Call, Internet - MI\Hourly-Consolidated-with-cellid.txt',delimiter='\t')
hourlydf['timeIntervalts'] = pd.to_datetime(hourlydf['timeIntervalts'])
hourlydf['hour'] = hourlydf['timeIntervalts'].dt.hour
hourlydf['day'] = hourlydf['timeIntervalts'].dt.day_name()
hourlydf.to_csv('..\Datasets Italia\Telecommunications - SMS, Call, Internet - MI\Hourly-Consolidated-cellid_day.txt',sep='\t')

In [ ]:
hourlydf.to_pickle('hourlydf.p')